{% extends "__layout.twig" %}

{% block content %}

 


<div class="row">
  {% for object in man_objects %}
<div class="col p-2">
<div class="card d-flex justify-content-center align-items-center p-2" style="height: 350px;width: 250px">
  <img src="{{object.image}}" style="height: 220px;width:180px;object-fit:cover" class="card-img-top" alt="...">
  <div class="card-body ">
    
    <div class="row d-flex ">
      <div class="col d-flex justify-content-center align-items-center">
    <a href=""/{{item.url_title}}/info"" class="btn btn-primary m-1">Описание</a>
    <a href="/{{item.url_title}}/image" class="btn btn-primary m-1">Картинка</a>
  </div>
  <h5 class="card-title d-flex text-center justify-content-center align-items-center "href="/{{item.url_title}}">{{object.title}}</h5>
  </div>
  </div>
</div>
</div>
{% endfor %}
</div>
<br>

</ul>
{% endblock %}