{% extends "__layout.twig" %}

{% block content %}



<h1>{{title}}</h1>
<ul class="nav nav-pills" style="margin-top:20px;">
  <li class="nav-item">
    <a class="nav-link me-2 {{is_image ? 'active'}}" href="/{{url_title}}/image">Картинка</a>
  </li>
  <li class="nav-item">
    <a class="nav-link me-2 {{is_info ? 'active'}}" href="/{{url_title}}/info">Описание</a>
  </li>
</ul>

{% block objectContent %}
{% endblock %}

{% endblock %}